//paramters for peak detection
MAX_CHARGE	5	//range: [2, MAX_CHARGE]
SN_CUTOFF	5
PEAK_RINT_CUTOFF	0	//minimum peak relative intensity
PEAK_INT_CUTOFF	1E6	//minimum peak absolute intensity
PEAK_TOLERANCE_PPM	10	//isotope peak mass tolerance: 10 ppm
//parameters in a neutron-coded pair
RATIO_LIMIT_LH	10	//max ratio limit for light vs heavy intensity
RATIO_LIMIT_SUM_LH	2 //the ratio limit of sumL/sumH in an XIC
MIN_MASS_DIFF_IN_PAIR	5 //mDa
MAX_MASS_DIFF_IN_PAIR	100	//mDa
//paramters between neutron-coded pairs
MIN_MASS_DIFF_BETWEEN_PAIR	0	//mDa
MAX_MASS_DIFF_BETWEEN_PAIR	5	//mDa
RT_TOLERANCE	2	//max rt range when merging redundant ions, default +/-5min
ION_TOLERANCE_PPM	3 //precursor ion tolerance when merging redundant ions, default +/-3 ppm
MAX_R_NUM	5 //R number in a peptide sequence, range: [1, MAX_R_NUM]
PEAKPAIR_LIMIT_mDa	3	//the tolerance of the mass diff in a peak pair and the theoretical mass diff (42.3 mDa*Rum/charge)
NeuCode_Mass	42.3 //mDa 2016-12-24
//raw files (one file per line)
c:\Users\lenovo\Desktop\20161210_JCX\161210_Hela_TEST_DDA_90MIN_F1_R1.raw