//paramters for peak detection
MAX_CHARGE	5	//range: [2, MAX_CHARGE]
SN_CUTOFF	2
PEAK_RINT_CUTOFF	0	//minimum peak relative intensity
PEAK_INT_CUTOFF	1E5	//minimum peak absolute intensity
PEAK_TOLERANCE_PPM	10	//isotope peak mass tolerance: 10 ppm
//parameters in a neutron-coded pair
RATIO_LIMIT_LH	10	//max ratio limit for light vs heavy intensity
RATIO_LIMIT_SUM_LH	2 //the ratio limit of sumL/sumH in an XIC
MIN_MASS_DIFF_IN_PAIR	5 //mDa
MAX_MASS_DIFF_IN_PAIR	100	//mDa
//paramters between neutron-coded pairs
MIN_MASS_DIFF_BETWEEN_PAIR	0	//mDa
MAX_MASS_DIFF_BETWEEN_PAIR	10	//mDa
RT_TOLERANCE	3	//max rt range when merging redundant ions, default +/-5min
ION_TOLERANCE_PPM	3 //precursor ion tolerance when merging redundant ions, default +/-3 ppm
MAX_R_NUM	5 //R number in a peptide sequence, range: [1, MAX_R_NUM]
PEAKPAIR_LIMIT_mDa	10	//the tolerance of the mass diff in a peak pair and the theoretical mass diff (42.3 mDa*Rum/charge), default [ -10, 10 ] mDa
//raw files (one file per line)
//e:\task\task_NeutronCoding_JCX\data\raw_data\20160809_SILAC.raw
e:\task\task_NeutronCoding_JCX\data\20161104_Hilic\161103_SILAC_HILIC_1_10ul_F1_R1.raw